@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

body {
    overflow-x: hidden;
    /* cursor: none; */
}

.container {
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    transition: 0.1s;
    /* background-color: #7c3aed; */
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 10;
    filter: blur(10px);
}

.opening {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 17px;
    z-index: 1;
    background-color: black;
}

.vijnana {
    font-size: 20px;
    background-color: #4040f0;
    height: 100%;
    margin: 0px 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px 0px 10px ;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
}

.navigation  {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 20px 10px 10px;
    gap: 20px;
}

.opening-elements {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    /* z-index: 0; */
}

.banner-video {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    max-width: 100%;
    /* height: 100%; */
}

.banner-counter {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.counter {
    display: flex;
    gap: 30px;
    height: 100px;
}

.counter-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}

.line {
    height: 50%;
    width: 5px;
    background-color: white;
}

.counter-time {
    font-family: "Modak", serif;
    font-size: 150px;
} 

.counter-text {
    font-family: "Modak", serif;
}

.info {
    height: auto;
    background-color: #1f1f2f;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 40px 40px 0;
}

h2 {
    font-family: "Exo", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

p{
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}

.vertical-line {
    background-color: white;
    width: 90%;
    height: 1px;
    margin: 20px 0 20px 0;
}

.about {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}

.intro p, .about p {
    width: 90%;
    margin: 10px 10px 10px 0;
    text-align: left;
}

.events-programmes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.events-programmes-elements {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 40px;
}

.event-list {
    display: flex;
    overflow-x: auto;
}

.event {
    background-color: #1f1f2f;
    min-width: 350px;
    max-width: 350px;
    margin: 20px 20px 20px 0;
}

.event-image {
    width: 100%;
}

.event-content {
    padding: 20px;
}

.event-header {
    font-size: 25px;
    font-weight: 700;
}

.event-info {
    line-height: 23px;
    margin: 5px 10px 10px 0;
}

.event-register {
    background-color: #7c3aed;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-family: "Exo", sans-serif;
    font-weight: 700;
}
