@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
    /* cursor: none; */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

body {
    overflow-x: hidden;
}

#prev-holder {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    background-color: rgba(20, 20, 20, 0.7);
}

#prev-img {
    /* display: none; */
    width: 100%;
    max-height: 100%;
    padding: 10px;
    object-fit: contain;
}

.container {
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;
    overflow: hidden;
}

.opening {
    height: 100vh;
    width: 100%;
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
    overflow: hidden;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 17px;
    z-index: 1;
    /* background-color: black; */
    opacity: 0;
    animation: slideDown 1s ease forwards;
}

.vijnana {
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    /* background-color: #4040f0; */
    height: 100%;
    margin: 0px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px 0px 10px ;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
}

.navigation  {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 20px 10px 10px;
    gap: 20px;
    z-index: 10;
    pointer-events: all;
}

.navigation a:hover {
    color: #7c3aed;
    filter: drop-shadow(0 0 5px black);
}

.menubar {
    position: absolute;
    margin: 30px 10px 0 0 ;
    top: 0;
    right: 0;
    display: none;
    pointer-events: all;
}

ul {
    list-style: none;
}

li {
    margin: 5px;
    text-align: end;
}

.items {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.2);
    gap: 10px;
    pointer-events: all;
}

.items span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 5px; */
    font-size: 16px;
    padding: 7px;
}

.menu-holder {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    pointer-events: all;
}

.menu {
    display: none;
    height: 25px;
    margin: 5px 10px 0 0 ;
}

.opening-elements {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none ;
    /* position: absolute; */
    /* background-image: url("../img/bg.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    background-color: rgba(0, 0, 0, 0.3);
}

/* .opening-elements {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none ;
    position: absolute;
} */

/* .banner {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: end;
    background-size: cover;
    justify-content: end;
    opacity: 0 ;
    animation: fadeIn 1s ease forwards;
} */


/* .banner-video {
    position: absolute;
    right: 0;
    bottom: 0;
} */

.banner-counter {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    /* display: none; */
}

.counter {
    display: flex;
    gap: 30px;
    height: 100px;
}

.counter-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    opacity: 0;
    animation: grow 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i));
}

.line {
    height: 50%;
    width: 5px;
    background-color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.counter-time {
    font-family: "Modak", serif;
    font-size: 150px;
    /* filter: drop-shadow(0 0 5px #7c3aed); */
    /* filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)); */
} 

.counter-text {
    font-family: "Modak", serif;
    letter-spacing: 1px;
    /* filter: drop-shadow(0 0 5px #7c3aed); */
    /* filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)); */
}

.info {
    height: auto;
    background-color: #1f1f2f;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 40px 40px 0;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: "Exo", sans-serif;
    font-weight: 800;
    font-size: 30px;
    width: auto;
}

p{
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}

.vertical-line {
    background-color: white;
    width: 90%;
    height: 1px;
    margin: 20px 0 20px 0;
}

.about {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}

p {
    width: 100%;
    margin: 10px 10px 10px 0;
    text-align: left;
}

.events-programmes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.events-programmes-elements {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 40px;
}

.event-list {
    display: flex;
    overflow-x: auto;
}

.event {
    background-color: #1f1f2f;
    min-width: 350px;
    max-width: 350px;
    margin: 20px 20px 20px 0;
    opacity: 0;
}

.event-animation {
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.event-image {
    width: 100%;
}

.event-content {
    padding: 20px;
}

.event-header {
    font-size: 25px;
    font-weight: 700;
}

.event-info {
    line-height: 23px;
    margin: 5px 10px 10px 0;
}

.button {
    display: grid;
    grid-template-columns: auto 1fr;
}

.event-register {
    background-color: #7c3aed;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    transition: 0.2s;
}

.event-register:hover {
    background-color: white;
    color: #7c3aed;
}

#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
    z-index: 1000;
    animation: rotate 5s linear infinite;
    /* transition: 0.1s; */
    /* background-color: #7c3aed; */
    /* transform: translate(-50%, -50%); */
    /* mix-blend-mode: difference; */
    /* filter: blur(10px); */
}

.prev-vijnana {
    background-color: #1f1f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prev-vijnana-elements {
    margin: 40px;
    width: 90%;
}

.image-list {
    display: flex;
    overflow-x: auto;
    /* width: auto; */
}

.image-holder {
    /* min-width: 350px; */
    /* max-width: fit-content; */
    /* width: fit-content; */
    min-width: 350px;
    max-width: 350px;
    min-height: 300px;
    max-height: 300px;
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    margin: 20px 20px 20px 0;
    opacity: 0;
}

.preview {
    object-fit: cover;
}

.image-animation {
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.image-holder img {
    /* max-height: 100%; */
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.connect-elements {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin: 40px 40px 10px 40px;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes grow {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .vijnana {
        font-size: 15px;
        letter-spacing: 5px;
        margin: 2px 5px 5px 0;
    }

    .banner-video {
        height: 100vh;
    }

    .navigation {
        display: none;
    }

    .menu-holder {
        display: flex;
    }

    .menu {
        display: block;
        height: 20px;
    }

    .line {
        display: none;
        height: 100%;
    }

    .counter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .counter-time {
        font-size: 100px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .event {
        min-width: 300px;
        max-width: 300px;
    }
    
    .event-register:hover {
        background-color: #7c3aed;
        color: white;
    }

    .image-holder {
        min-width: 300px;
        max-width: 300px;
    }
    
    #cursor {
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

    .vijnana {
        font-size: 15px;
        letter-spacing: 7px;
        margin: 2px 5px 5px 0;
    }

    .banner-video {
        height: 100vh;
    }

    .navigation {
        display: none;
    }

    .menu-holder {
        display: flex;
    }

    .menu {
        display: block;
    }

    .line {
        display: none;
        height: 100%;
    }

    .counter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
    }

    .event-register:hover {
        background-color: #7c3aed;
        color: white;
    }
    
    #cursor {
        display: none;
    }
}